.table-list {
    padding: 15px;
}
.table-list table thead tr td {
    padding: 0 0 20px 0;
}
.table-list table thead tr td .submit {
    padding: 0;
}
.table-list table thead tr td .submit a {
    padding: 6px 12px;
}
.table-list table tbody tr.highlighted {
    background-color: #5cb85c !important;
}
.table-list table tbody tr.highlighted td {
    color: #fff !important;
}
.table-list table tbody tr.disabled {
    background-color: #333 !important;
    opacity: 0.7 !important;
}
.table-list table tbody tr.disabled:hover {
    cursor: not-allowed !important;
}
.table-list table tbody tr.disabled td {
    color: #777 !important;
}
.table-list table tbody tr.disabled td:hover {
    cursor: not-allowed !important;
}
.table-list table tbody tr.disabled td > *:hover {
    cursor: not-allowed !important;
}
.table-list table tbody tr td.empty-list {
    text-align: center;
}
.table-list table tfoot tr td {
    padding: 20px 0 0 0;
}
.table-list table tfoot tr td .tfoot-tab:nth-child(1) {
    text-align: left;
}
.table-list table tfoot tr td .tfoot-tab:nth-child(2) {
    text-align: center;
}
.table-list table tfoot tr td .tfoot-tab.navigation-status {
    padding: 7px 15px;
}
.table-list table tfoot tr td .tfoot-tab.pagination-container {
    text-align: right;
}
.table-list table tfoot tr td .tfoot-tab.pagination-container .pagination {
    margin: 0 !important;
}
.table-list table tr th, .table-list table tr td {
    vertical-align: middle;
}
.table-list table tr th.actions {
    text-align: right !important;
    min-width: 100px;
}
.table-list table tr th a, .table-list table tr td a {
    font-weight: normal;
}
.table-list table tr th a.sort, .table-list table tr td a.sort {
    display: table;
}
.table-list table tr th a.sort i.fa, .table-list table tr td a.sort i.fa {
    display: table-cell;
}
.table-list table tr td.actions form {
    display: inline-block;
}
.table-list table tr td.actions .btn-rounded {
    border-radius: 50%;
}
