table.table-list thead tr td {
    padding: 0 0 20px 0;
}

table.table-list thead tr td .submit {
    padding: 0;
}

table.table-list thead tr td .submit a {
    padding: 6px 12px;
}

table.table-list tbody tr td.empty-list {
    text-align: center;
}

table.table-list tfoot tr td {
    padding: 20px 0 0 0;
}

table.table-list tfoot tr td .tfoot-tab:nth-child(1) {
    text-align: left;
}

table.table-list tfoot tr td .tfoot-tab:nth-child(2) {
    text-align: center;
}

table.table-list tfoot tr td .tfoot-tab.navigation-status {
    padding: 7px 15px;
}

table.table-list tfoot tr td .tfoot-tab.pagination-container {
    text-align: right;
}

table.table-list tfoot tr td .tfoot-tab.pagination-container .pagination {
    margin: 0 !important;
}

table.table-list tr th.actions, table.table-list tr td.actions {
    text-align: right !important;
    min-width: 100px;
}

table.table-list tr th a, table.table-list tr td a {
    font-weight: normal;
}

table.table-list tr th a.sort, table.table-list tr td a.sort {
    display: table;
}

table.table-list tr th a.sort i.fa, table.table-list tr td a.sort i.fa, table.table-list tr th a.sort span, table.table-list tr th td a.sort span, table.table-list tr td th a.sort span, table.table-list tr td a.sort span {
    display: table-cell;
}

table.table-list tr td .switch-group {
    position: relative;
}

table.table-list tr td .switch-group .switch-action-icon {
    position: absolute;
    right: -20px;
    top: -1px;
    font-size: 18px;
}

table.table-list tr td.actions form {
    display: inline-block;
}

table.table-list tr td.actions form .btn-rounded {
    border-radius: 50%;
}